p {
    color: purple;
    font-style: italic; 
}
h1 {
    text-decoration: underline;
}  
body {
    color: brown;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
    text-align: none;
    border-style: 2px solid  orange;
}
#staffTable { 
    font-family:'Courier New', Courier, monospace;
    width: 100;
    text-align: center;
}
#staffTable td, #staffTable th {
    border: 1px solid #ddd;
    padding: 2px;
    border-collapse: collapse;
}
